.radio-button-group {
  display: flex;
  flex-direction: column;
}
.radio-button {
  border-radius: 25px;
  display: flex;
  padding: 5px;
  transition: 0.2s ease-in;
}
.radio-button:hover {
  background: rgba(245, 153, 32, 0.3);
  cursor: pointer;
}
.radio-button-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid gray;
  align-self: center;
  margin-right: 10px;
  transition: 0.1s ease-in;
}
.radio-button-label {
  font-size: 18px;
  text-transform: capitalize;
  color: silver;
}
.radio-button-circle-active {
  border: 7px solid rgb(245, 153, 32);
}
.radio-button-circle-inactive {
  border: 2px solid gray;
}
